body{
    background-color: #f6bcda;
    padding: 0;
    margin: 0;

}

p{
    text-align: center;
    font-size: 20px;
    font-family: Apple Chancery, cursive;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0%{
        font-size: 20px;
    }
    50%{
        font-size: 22px;
    }
    100% {
        font-size: 20px;
    }
}

.button{
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
}

button{
    padding: 20px;
    margin: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    height: 80px;
    width: 120px;

}


.yes{
    background-color: #92d175;
}


.no {
    background-color: #dd2b2b;

}

.no:active {
    background-color: #dc8080; /* Remet la couleur de base */
    color: #ffffff;
}

.yes:active{
    background-color: #afd69d;
    color: white;
}

.love{
    display: flex;
    justify-content: center;
}


.heart {
    position: fixed;
    font-size: 1.5rem;
    top: -1vh;
    transform: translateY(0);
    animation: fall 3s linear forwards;
}

@keyframes fall {
    from {
        transform: translateY(0vh) translateX(-10vw);
    }
    to {
        transform: translateY(105vh) translateX(10vw);
    }
}

.gif-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.gif {
    width: 50vw;
    max-width: 90vh;
}

.lgbt {
    padding-left: 30px;
    padding-bottom: 30px ;
    width: 1vw;
    height: auto;
    max-width: 1vh;
    max-height: 1vh;
    cursor: pointer;
    transition: transform 0.3s;
    opacity: 0.1;
}

.lgbt:hover {
    transform: scale(1.1);
}

.valentine{
    width: 0;

}