body{
    background-color: #f6bcda;
    padding: 0;
    margin: 0;

}

p{
    text-align: center;
    font-size: large;
    font-family: Verdana, serif;
}

.button{
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
}

button{
    padding: 20px;
    margin: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}


.yes{
    background-color: #92d175;
}

.yes:hover{
    background-color: #afd69d;
    color: white;
}

.no{
    background-color: #dd2b2b;
}

.love{
    display: flex;
    justify-content: center;
}

.no:hover{
    background-color: #dc8080;
    color: white;
}

.heart {
    position: fixed;
    font-size: 1.5rem;
    top: -1vh;
    transform: translateY(0);
    animation: fall 3s linear forwards;
}

@keyframes fall {
    from {
        transform: translateY(0vh) translateX(-10vw);
    }
    to {
        transform: translateY(105vh) translateX(10vw);
    }
}

.gif-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.gif {
    width: 50vw;
    max-width: 90vh;
}