body{
    background-color: #f6bcda;
    padding: 0;
    margin: 0;
}

p{
    text-align: center;
    font-size: 20px;
    font-family: Apple Chancery, cursive;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0%{
        font-size: 20px;
    }
    50%{
        font-size: 22px;
    }
    100% {
        font-size: 20px;
    }
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.button{
    text-align: center;
    padding: 20px;
}

button{
    padding: 1em;
    margin: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    height: 120px;
    width: 200px;

}

@media screen and (max-width: 508px){
    button{
        font-size: 1rem;
        height: 10vh;
        width: 30vw;

    }
}

@media screen and (max-width: 380px){
    button{
        font-size: 0.9rem;
        height: 9vh;
        width: 35vw;
    }
}


.yes{
    background-color: #92d175;
}




.no {
    background-color: #dd2b2b;

}

.heart {
    position: fixed;
    font-size: 1.5rem;
    top: -1vh;
    transform: translateY(0);
    animation: fall 3s linear forwards;
}

@keyframes fall {
    from {
        transform: translateY(0vh) translateX(-10vw);
    }
    to {
        transform: translateY(105vh) translateX(10vw);
    }
}

.gif-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.gif {
    width: 50vw;
}


@media screen and (min-height: 768px) {
    .gif{
        width: 90vw;

    }

}